*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #014e34;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.player, .com{
    display: flex;
    justify-content: center;
    padding: 20px
}

.player img, .com img{
    width: 20vh;
    margin: 1vh;
}

.actions{
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.actions button{
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.buy{
    background: rgb(7,122,32);
    background: linear-gradient(90deg, rgba(7,122,32,1) 0%, rgba(21,131,6,1) 35%, rgba(22,125,17,1) 100%);
}

.stop{
    background-color: red;
}

.countCom, .countPlayer{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.countCom{
    border: 0;
}

.buttons{
    width: 30%;
    display: flex;
    justify-content: center;
  
}

#valueCom, #valuePlayer{
    height: 10vh;
    width: 100%;
    font-size: 2em;
    text-align: center;
}